
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Gentium Book Plus', serif;
    }

    body {
        max-width: 1400px; 
        font-family: 'Gentium Book Plus', serif;
        background-color: whitesmoke;
        text-align: center;
        margin: 0 auto;
    }
    

    h1, h2{
        font-family: 'Lavishly Yours', cursive;
    }

    p {
        text-align: center;
        grid-column: 1/5;
    }

    a {
        text-decoration: none;
        color: #584e50;
    }

    /* **************
        Buttons
    ****************/

    button {
        margin: 1rem auto;
        cursor: pointer;
        height: 50px;
        text-align: center;
        padding: 0.5rem;
        background-color: #E5E6E4;
        border: none;
        font-weight:bold;
    }

    button:hover {
        letter-spacing: 2px;
        border-top: 1px solid #847577;
        border-bottom: 1px solid #847577;
        transition: all 1s ease 0.6s;
        opacity: 0.75;
    }

    button:hover::before, button:hover::after {
        transition: all 1s ease-in-out 0.6s;
    }

    a button {
        transition: all 1s ease-in-out;
        visibility: visible;
        opacity: 1;
        transform: scale(1, 1);

    }

    /* **************
        Header
    ****************/

    header {
        display: grid;
        grid-template-columns: repeat(auto-fill, 1fr);
        grid-template-rows:  75px 60px;
        column-gap: 10px;
        align-items: center;
        background-color: #ffa142;
        color: white;
    }

    .header-logo {
        display: flex;
        grid-column: 1;
    }
    picture.logo img{
        width: 120px;
    }

    .logo {
        display: flex;
        margin-top: 55px;
        border: 2px solid #847577;
    }
    .title {
        display: grid;
        margin-top: 55px;
        padding-bottom: 1rem;   
    }
    #title-small{
        font-size: 15px;
        line-height: 1rem;

    }
    #title-big{
        font-size: 28px;
    }

    #title-big, #title-small {
        font-family: 'Lavishly Yours', cursive;
        font-weight: 100;
        color: white;
        text-shadow: 5px 2px 3px gray;
        
    }

    .term {
        font-size: 1.3rem;
        text-align: center;
        background: linear-gradient(0.25turn,white, #ffa142 ,gray);
        grid-column: 1/5;
        border:3px solid white;
        margin-bottom:55px;
    }
    a.socMedia img{
        width: 25px;
    }
    .menu{
        display: flex;
        grid-column: 3;
        grid-row:1;
        margin: 3rem 0 0 3rem;
    }
    
    .social {
        gap: 7px;
        display:flex;
        grid-column:3;
        margin: 5rem 0 0 -7rem;
        grid-row:1;
        flex-direction: column; 
    }

    /* **************
        Navigation
    ****************/
    nav.nav.responsive #hambtn{
        margin-left: 0.5rem;
        background-color: gray;

    }
    nav.nav.responsive span{
            background-color: #ffa142;

    }

    #hambtn {
        font-size: 2rem;
        color: #847577;
        box-shadow: 2px 2px 2px 2px  black;
    }

    nav ul {
        display: none;
        background-color: gray;
        list-style-type: none;
        font-size: 1.4rem;
        text-align: left;
    
    }

    nav ul.open {
        display: block;
        font-size:18px;
    }

    nav ul a {
        text-decoration: none;
        color: #847577;
        line-height: 2.4rem;
    }

    nav ul li {
        background-color:#e4892f;
        margin: 0.1rem 0 0rem;
    }

    /* **************
        Nav Buttons
    ****************/
    nav ul li a:hover {
        color: #A6A2A2;
        text-shadow: 2px 1px 2px #584e50;
        letter-spacing: 2px;
        border-top: 1px solid #847577;
        border-bottom: 1px solid #847577;
        transition: ease-in-out 0.6s;
        opacity: 0.75;

    }
    nav ul li a {
        transition: all 1s ease-in-out;
        visibility: visible;
        opacity: 1;
        transform: scale(1,1);
    }

    /* **************
        Main
    ****************/

    main {
    grid-template-columns: repeat(auto-fill, 1fr);
    }

    main h1 {
        grid-column: 1/5;
        margin: 2rem auto;
        font-size: 3rem;
    }

    .band {
        width: 100%;
        background: linear-gradient(0.25turn,white, #ffa142 ,gray);
        height: 1rem;
        border:2px solid white;
        margin-top:20px;
    }

    /* **************
        Home Page
    ****************/
    div.pageIntro1{
        border: 5px dotted  black;
        padding-bottom: 10px;
    }
    article.hero{
        padding: 1rem;
        margin:auto;

    }
    .hero {
        grid-column: 1/5;
        display: flex;
        justify-content: center;
    }

    .heroimg {
        max-width: 868px;
        position: absolute;
        box-shadow: 3px 7px 3px #584e50;
        border: 10px solid  gray;
        background-color: gray;

        
    }

    picture.heroimg img{
        padding-top:5px;
        width: 100%;
        
    }
    div.travel{
        margin:15rem auto -4rem auto;
    }
    
    .pageIntro1 h1{
        font-size:60px;
        font-family: 'Parisienne', cursive;
    }    

    .homep2 {
        grid-column: 1/5; 
        margin:6rem auto 2rem auto;
        
    }

    .travel {
        position: relative;
        width: 300px;
        padding: 1rem;
        margin: 10rem 0 0 820px;
        background-color: white;
        border:15px solid #ffa142;
        box-shadow: 3px 7px 3px #584e50;
        

    }

    .travel h2 {
        margin: -1rem 0 1rem 0;
        font-size: 1.8rem;
        line-height: 4rem;
        text-align: center;
    }

    .travel p {
        line-height: 1.3rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    /**********************
        Section Articles
    **********************/

    .container {
        grid-column: 1/5;
        display: grid;
        margin: 1rem;
        justify-content: center;
        
    }

    .container article {
        width: 100%;
        margin: 1rem auto auto auto;
        box-shadow: 3px 4px 4px #584e50;
        border: 10px solid  #ffa142;
    }

    .container article img {
        max-width: 90%;
        height: 250px;
        margin-top: 1rem;
        box-shadow: 3px 4px 4px #584e50;
        object-fit: cover;
        border: 10px solid  gray;
    
    }

    .container h2 {
        margin: 1rem;
    }

    .container p {
        margin: 0 1.6rem;
    }

    .container button {
        margin: 1rem;
        background-color:rgb(212, 212, 212);
        border-radius:15%;
    }

    iframe {
        max-width: 100px;
        max-height: 100px;
    }

    /********************
        Temple Spotlight
    ********************/




    #spotlight article {
        max-width: 750px;
        margin: 1rem auto 1rem auto;
        border: 10px solid #ffa142 ;
        padding-bottom: 1.5rem;

        
    }
    #spotlight article img{
        margin: auto;
        width:100%;
        border: 10px ridge #584e50;
    }

    #spotlight h2 {
        background-color: rgba(248, 237, 235, 0.75);
        font-size: 0.7rem;
        padding: 1rem;
        position: absolute;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    /********************
        Weather
    ********************/

    .weather-section {
        margin:auto;
        border: 10px solid #ffa142;
        background-color: white;
        max-width:400px;

    }

    .weather-section h2 {
        padding-bottom: 2rem;
        margin: 1.5rem auto 1rem auto;
        border-bottom: 4px solid #ffa142;

        
    }

    #temp {
        font-size: 4rem;
    }

    .temp-icon p {
        font-size: 3rem;
    }
    .temp-icon img {
        background-color: #584e50;
    }
    figcaption {
        font-size: 1.4rem;
    }

    .weather-section section h2 {
        font-size: 2rem;
    }

    .weather-icon {
        width: 7rem;
    }

    #windspeed  {
        margin: 2rem;
    }

    /********************
        Temples Page
    ********************/

    #page-info {
        font-size: 40px;
        color:#A0FF42;
    }
    #page-info1{
        border: 5px solid gray;
        background-color: #ffa142;
        font-size: 18px;
        color:black;
        padding:1rem 0 1rem 0;
    }

    /********************
        Temples Cards
    ********************/

    .templeCards {
        background:linear-gradient(to right, rgba(132, 117, 119, 0.5), rgba(166, 162, 162, 0.32), rgba(248, 237, 235, 0.37), rgba(166, 162, 162, 0.42), rgba(132, 117, 119, 0.5));
        border: 1px solid #584e50;
        box-shadow: 3px 4px 4px #584e50;
        padding: 1.3rem;
        margin: 2rem 0.2rem;
    }

    .templeButtons {
        margin: 1rem;
        
    }

    .templeInfo h2 {
        margin: 2rem 0;
        font-size: 2rem;
    }

    .all-images {
        border: 2px solid #584e50;
        padding: 10px;
    }
    main .cards {
        display: grid;
        margin: auto;

    }

    .cards article{
        border: 10px solid #ffa142;
        box-shadow: 3px 4px 4px #584e50;
        padding: 1rem;
        margin: 1rem auto 1rem auto;
    }

    .cards img {
        max-width: 250px;
        padding: 0.4rem;
        object-fit: cover;
        border: 15px ridge #584e50}

    .cards h2 {
        line-height: 4rem;
    }

    .cards h3 {
        margin-bottom: 0.4rem;
    }

    .cards p {
        margin-bottom: 1rem;
    }

    /********************
        Services
    ********************/

    #amenities {
        margin: 1rem auto 1rem auto ;
        background-color: #ffa142;
    }

    #amenities-list h2, #specialized-list h2 {
        font-size: 2rem;
        line-height: 4rem;
        text-align: center;
    }

    #amenities-list {
        line-height: 2rem;
        text-align: left;
        
    }

    .fotos-images {
        max-width: 100%;
        object-fit: cover;
        border: 15px ridge #584e50
    }

    #specialized-grid {
        grid-column: 1/5;
        margin: 2rem auto;
    }

    #specialized-list ul {
        margin: 2rem;
    }

    #specialized-list ul li {
        text-align: left;
    }

    .serviceCards {
        background-color: #ffa142;
        border: 1px solid #584e50;
    }

    .serviceCards #image-grid {
        width: 100%;
        display: grid;
        justify-content: center; 
    }

    .serviceCards #image-grid img {
        border: 10px solid gray;
    }   



    .container img {
        height: 250px;
        box-shadow: 3px 7px 4px #584e50;
        max-width: 100%;
    }

    #specializedBtns {
        margin: 1rem auto auto auto; 
        max-width: 300px;
        grid-column: 1/5;
        border: 10px solid #ffa142;
        
    }
    #specializedBtns1 {
        grid-column: 1/5;
        border: 10px solid #ffa142;
        
    }


    #specializedBtns h2, #specializedBtns1 h2  {
        font-size: 2rem;
        border-bottom: 1px solid #584e50;
        margin-bottom: 3rem;
    }

    #specializedBtns h3, #specializedBtns1 h3 {
        margin-bottom: 1rem;
    }

    #specializedBtns .special-Btn button, #specializedBtns1 .special-Btn button {
        background: rgba(132, 117, 119, 0.5);
        border-radius: 20px;
        margin-bottom: 2rem;
    }

    .special-Btn {
        margin: 3rem 2rem;
        font-size: 1.1rem;
    }    

    /********************
        Reservations
    ********************/

    .reserva {
        text-align: center;
        margin: 2rem auto 2rem auto;
        padding: 2rem;
        color: black;
        border: 7px double #ffa142;
        background: linear-gradient(to right,gray, #ffa142,gray);
        border-radius: 20px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        max-width: 780px;
    }

    #contact-form {
        margin: 2rem auto;
    }

    input {
        color: gray;
        border: none;
        border-bottom: 1px solid #584e50;
        background-color: transparent;
    }
    .comments textarea::placeholder,
    form p input::placeholder {
        color: gray;
    }

    select {
        color: gray;
        margin: 1rem 0;
    }

    form p {
        margin: 1rem;
    }

    .form-group {
        display: block;
    }

    .form-label {
        margin-right: 1rem;
    }

    .form-control {
        border: none;
        background-color: #cac6c6;
    }

    #destination {
        margin: 0 10rem;
    }

    #destination select {
        background-color: #cac6c6;
    }

    .checks {
        display: grid;
    }

    .numbers {
        display: flex;
        margin: 1rem 8rem;
    }
    textarea#content,div.comment{
        width:100%;
      }

    .comment-container {
        
        display: grid;
        margin: 1rem auto -5rem;
    }

    .comment {
        float: left;
        width: 700px;
        height: 200px;
    }


    .comment textarea {
        color: #847577;
        float: left;
        width: 100%;
        height: 100px;
    }

    .form-description {
        color: #584e50;
    }

    #content {
        float: left;
        width: 100%;
        min-height: 75px;
        resize: none;
        
    }

    /* **************
        Form Buttons
    ****************/

    .formbtn   {
        float: left;
        margin: 2rem auto;
        cursor: pointer;
        height: 50px;
        font-size: 1.3rem;
        text-align: center;
        border-radius: 20px;
        padding: 0.8rem;
        background-color: #ff8000;
        color: #E5E6E4;
        border: none;
        transition: all 1s ease-in-out;
        visibility: visible;
        opacity: 1;
        transform: scale(1, 1);
    }

    #bookbtn {
        margin: 1rem auto;
    }

    .formbtn:hover {
        letter-spacing: 4px;
        border-top: 2px solid #584e50;
        border-bottom: 2px solid #584e50;
        transition: all 1s ease 0.6s;
        opacity: 0.75;
    }

    .formbtn:hover::before,
    .formbtn:hover::after {
        transition: all 0.6s ease-in-out 0.6s;
    }

    /********************
        Reception
    ********************/

    .lg-container {
        grid-column: 1/5;
        margin: 2rem auto;
        
    }

    .lg-container img {
        width:100%;
        margin: auto auto 1rem auto;
        border: 1px solid #584e50;
        border: 15px ridge gray ;
    }
    ul#reclist li{
        list-style:none;
        }
    p#recepcion{
        padding: 2rem 0 1rem 0;
    }

    #resbtn {
        font-size: 1.1rem;
    }

    #resbtn button {
        background-color: #A6A2A2;
        border-radius: 20px;
    }

    #recinfo {
        border: 15px solid #ffa142 ;
    }


    #recinfo .pageIntro h2 {
        margin-bottom: 1rem;
    }

    #reclist {
        text-decoration: dotted;
        margin-bottom: 1.4rem;
    }

    #reclist li{
        text-align: left;
        list-style-type: disc;
        line-height: 1.6rem;
    }

    /* **************
        Missionary
    ****************/
    .cuartos img{
        max-width:600px;
        border: 15px ridge #584e50;


    }
    div.missimg img{
        margin: 1rem auto auto auto; 
        width: 100%;   
    }
    picture.cuartos{
        margin: auto;    

    }

    #missInfo,#missInfo1 {
        background: linear-gradient(to right,gray, #ffa142,gray);
        grid-column: 1/5;
        margin: 2rem auto 1rem auto ;
        border: 1px solid #584e50;
        border-radius: 20px;
    }

    #missInfo .pageIntro, #missInfo p,#missInfo1 .pageIntro,#missInfo1 p {
        margin: 2rem 1rem;
    }

    #missInfo ul li,#missInfo1 ul li {
        list-style-type: none;
        line-height: 2rem;
        padding: 0 2rem;
    }



    /* **************
        Resources
    ****************/

    .imageResource {
        max-width: 70%;
        line-height: 1.8rem;
        text-align: start;
        margin: 2rem auto;

    }

    .imageResource h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .imageResource h4 {
        margin-bottom: 2rem;
    }

    .imageResource, ul li {
        list-style-type: none;
    }

    /* **************
        Contact
    ****************/
    .contacto{
        text-align: center;
        padding: 2rem;
        color: black;
        border: 7px double #ffa142;
        background: linear-gradient(to right,gray, #ffa142,gray);
        border-radius: 20px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;

    }
    textarea {
        overflow: auto;
    }

    #container {
        max-width: 768px;
        margin: 60px auto;
        position: relative;
    }


    .underline {
        border-bottom: solid 2px #584e50;
        margin: -0.512em auto;
        width: 80px;
    }

    .icon_wrapper {
        margin: 50px auto 0;
        width: 100%;
    }

    .icon {
        display: block;
        height: 50px;
        margin: 0 auto;
        width: 50px;
    }

    .email {
        float: right;
        width: 45%;
    }

    input[type='text'],
    [type='email'],
    select,
    textarea {
        background: none;
        border: none;
        border-bottom: solid 2px #474544;
        color: #474544;
        font-size: 1.000em;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 0em 0 1.875em 0;
        padding: 0 0 0.875em 0;
        width: 100%;
        box-sizing: border-box;
        transition: all 0.3s;
    }

    input[type='text']:focus,
    [type='email']:focus,
    textarea:focus {
        outline: none;
        padding: 0 0 0.875em 0;
    }


    .subject {
        width: 100%;
    }

    .telephone {
        width: 100%;
    }

    textarea {
        line-height: 150%;
        height: 150px;
        resize: none;
        width: 100%;
    }

    ::-webkit-input-placeholder {
        color: #584e50;
    }

    :-moz-placeholder {
        color: #584e50;
        opacity: 1;
    }

    ::-moz-placeholder {
        color: #584e50;
        opacity: 1;
    }

    :-ms-input-placeholder {
        color: #584e50;
    }

    .submit .formbtn {
        margin-left: 5rem;
    }



    /* **************
        Footer
    ****************/

    footer {
        background-color: #ffa142;
        display: grid;
    }



    footer ul a {
        text-decoration: none;
        color: #847577;

    }

    .foot1 {
        margin: 1rem 4rem;
        grid-column: 1;
        display: flex;
        line-height: 1.3rem;
        margin: auto;
        border-bottom: 5px solid gray;
    }

    .footerList {
        margin: 1rem auto 1rem auto ;
    }

    footer ul {
        list-style-type: none;
    }

    .footAddress {
        margin: 1rem auto 2rem auto;
        color: black;

    }

    .socialFoot {
        margin: auto auto 1rem auto;

    }
    .socialFoot img{
        width: 40px;

    }

    .assignment {

        text-align: center;
        color: black;

    }

