
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Crimson Pro', cursive, serif;
    max-width: 1500px;
    min-width: 325px;
    margin: 0 auto;
}

img { 
    width: 100%;
    height: auto;
    box-shadow: 3px 3px 12px rgb(54, 54, 54);
}

/* -------Header-------- */

header {
    display: grid;
    grid-template-columns:  85px 2.5fr 1fr 35px;
    column-gap: 10px;
    align-items: center;
    padding: 10px;
}

header,
footer {
   background: linear-gradient(0.90turn, #eeede0, #cbe709, #7fc41b, #c54f54,#262429);
}

header .social {
    display: flex;
    padding-top: 10px;
    gap: 5px;
}
header .social img {
    width: 30px;
}

#currentDate {
    display: block;
    text-align: center;
    padding: 5px 0 5px;
    background: linear-gradient(0.25turn,#c54f54, #7fc41b);
    border: 2px solid #000000;
    color: white;  
}

/* ------Main----- */

main { 
    background: linear-gradient(0.25turn, #eeede0, #cbe709, #7fc41b, #c54f54,#262429);
    border-top: 10px solid #ffffff;
    border-bottom: 10px solid #ffffff;
    padding: 10px;
}

h1 {
    font-size: 28px;
    line-height: .5;   
}

h3 {
    text-align: center;
    padding:10px;

}
 
#smtitle {
    font-size: 12px;
}

/* ----to make logo smaller in very small mobile view ------*/
@media only screen and (max-width: 370px) {
    header {
        grid-template-columns:  70px 2.5fr 1fr 35px;
        column-gap: 12px;
    }
    h1 {
        font-size: 25px;
    }
    #smtitle {
        font-size: .7rem;
    }
    
    }

/* navigation bar */
nav {
    grid-column: 1/5
}

nav ul {
    list-style-type: none; 
}

nav ul li a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    color: #000000;
    text-align: center;
    text-decoration: none;   
    background: linear-gradient(0.25turn,#c54f54, #7fc41b);
    transition: .2s;
}

nav ul li a:hover {
    color: white;
    font-weight: 600;
    --d: 100%;   
}
#menuButton {
    grid-column: 4/5;
    background: transparent;
    padding: 2px;
    font-size: 1.3rem;
    font-weight: bold;
}

#menuButton:hover {
    color: white;
    background: linear-gradient(0.25turn,#c54f54, #7fc41b);
    transition: .2s;
    --d: 100%;
    
}

#mainNav .active {
    font-weight: 800;
    color: #8c181b;
}

#mainNav {
    border: 2px solid black;
    background: linear-gradient(0.5turn, #f9d4d5, #faedd9, #d4fae6, #d5defb);
}

nav ul {display: none;}
nav ul.open {display: block;
}

#menuButton span:nth-child(1) {display: block;}
#menuButton span:nth-child(2) {display: none;}

#menuButton.open span:nth-child(1) {display: none;}
#menuButton.open span:nth-child(2) {display: block;}
/*--------------------*/

/* mobile grid layout */
.boxes {
    display: grid;
    gap: 25px;
    padding: 10px;
}

.boxes div {
    border: 4px solid #000000;
    box-shadow: 3px 3px 10px rgb(54, 54, 54);
}

.boxes p {
    text-align: center;
}
/* Hero Box */
 .hero, .event, .news, .join, .weather {
    position: relative;
 }

 .hero img, .event img, .news img, .join img, .info{
     object-fit: cover;
     height: 100%;
 }

 div .hero-cta, div .join-cta {
     position:absolute;
     background-color: #c54f54;
     border: 1px solid black;
     border-radius: .5rem;
     padding: 5px 10px 10px;
     box-shadow: 0 0 15px rgb(232, 232, 232);
     font-weight: bold;

 }
 .welcome{
    position:relative;
    top: -50px; 

 }

 .hero-cta {
    bottom: 570px;
 }


 .hero-cta a, .join-cta a  {
     color: white;
     text-decoration: none;
 }

 .boxes .hero .hero-cta:hover, .boxes .join .join-cta:hover {
    background-color: #8c181b;
}

 .welcome {
    font-size: 2rem;
 }
 
/* Event Box */
.tbox  {
    position: absolute;
    color: rgb(232, 232, 232);
    text-shadow: 2px 4px 4px black;
    top: 20px;
    left: 25px;
    line-height: 1.7rem;
    font-weight: 600;

}

.event p, .news p, .join p {
    position: absolute;
    line-height: 1;
    left: 10px;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
    color: white;
    background-color: rgba(44, 44, 44, 0.5);
    padding: 5px 6px; 
    
}
 
/* Weather Box */

.info {
    color: white;
    text-shadow: 2px 4px 5px black;
    background: linear-gradient(0.25turn,#c54f54, #7fc41b);
}
.info {
    display: grid; 
    border-radius:200px;
    padding-top:20px;
}
#w1 {
    font-size: 40px;
    font-weight: bold;
}

#w2, #w3 {
    padding: 10px; 
    border-top: 3px solid black; 
    font-size: 1.2rem;
}


.weather{

    border-radius:200px;
}


.weather h2{
    margin-left: 80px;
    margin-top: -20px;
    
}
/* Join Box */
.join {
    display: none;
}

.join-cta {
    top: 50%;
    margin-top: -20px;
    left: 50%;
    margin-left: -70px;
}

/* Spotlight Box */
.spotlight {
    display: grid;
    gap: 10px;
    height: 100%;
    grid-row: 5/7;   
}
.sbox {
    text-align: center;
    padding-bottom: 10px;
    line-height: 1.1rem;
}



.spotlight div:nth-child(3) {
    display: none;
}

.spotlight p {
    
    line-height: 1.1;
    font-size: .9rem;
    font-weight: 600;
    padding: 7px 10px 5px;

}

.spotlight div {
    background: linear-gradient(0.90turn, #eeede0, #cbe709, #7fc41b, #c54f54,#262429);
}

/* Footer */
footer section {
    display: grid;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 24px;


}

#bottom-logo {
    width: 125px;  
    margin: 10px 0 10px; 
}

.address {
    line-height: 1.5rem;
    padding-bottom: 10px;
    font-weight: 600;

}
footer a {
    text-decoration: none;
    color: #000000;
}

footer a img {
    box-shadow: none;
    width: 20px;
}

footer #lastline {
    text-align: center;
    font-size: .95rem;
    padding: 10px;
    border-top: 3px dashed  black;
    font-weight: 600;

}

/* Tuesday Banner */
#banner {
    display: none;
    text-align: center;
    background: linear-gradient(0.25turn, #eeede0, #cbe709, #7fc41b, #c54f54,#262429);
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-top : 5px dotted black;
    border-bottom : 5px dotted black;
    line-height: .9;
}

#close {
    padding: 3px;
    background-color: #f7c72b;
}

    /*-----DISCOVER PAGE------*/
.tgallery {
    font-size: 1.7rem;
    color: rgb(232, 232, 232);
    text-shadow: 2px 4px 4px black;
    text-align: center;
    padding: 10px 0 15px;
}

.gallery-page {
    display: grid;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 475px;
    margin: 0 auto;
}

.gallery p {
    font-weight: bold;
    margin-top: -10px;
}

.gallery img[data-src] {
	filter: blur(.6em);
}

.gallery img{
	filter: blur(0);
	transition: filter .6s;
    margin: 10px;
    border: 10px double black;
    box-shadow: 10px 10px 10px rgb(84, 101, 60);
}
.explore {
    border-top: 3px solid white;
    margin-top: 40px;
} 
.dem-title {
    grid-row: 1/2;   
}
.demographics {
    padding-left: 40px;
    grid-row: 2/3;
}

.demographics p {
    padding: 5px 0;
}

.visit-distance {
    text-align: center;
    border: 2px solid white;
    padding-bottom: 20px;
    margin: 20px 0 10px 40px;
}

.chart {
    display: none;
}


